
<div class="modal-header">
	<h3 class="modal-title" id="modal-title">Bloquear Usuário</h3>
</div>
<div class="modal-body modal-convite" id="modal-body">
	<div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
      </span>
    </div>
	<div class="container-usuarios">
	
		<ul>
			<li>Nome</li>			
			<li>Nome</li>			
			<li>Nome</li>			
			<li>Nome</li>			
			<li>Nome</li>			
			<li>Nome</li>			
			<li>Nome</li>			
		</ul>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-success">Enviar</button>
</div>