<section class="cht-container" ng-if="contatoAtivo">
	<header class="cht-header">
		<div class="cht-titulo">{{contatoAtivo.login}}</div>
	</header>
		
	<div class="cht-content" ng-attr-id="{{'chat-' + contatoAtivo.login}}">
		<ul>
			<li ng-repeat="msg in historico">
				<div class="cht-bloco">
					<div ng-if="msg.emissor == me" class="cht-enviada">{{msg.dataEnvio}} - {{msg.conteudo}}</div>
					<div ng-if="msg.emissor != me" class="cht-recebida">{{msg.dataEnvio}} - {{msg.conteudo}}</div>
				</div>
			</li>			
		</ul>
	</div>
	
	<footer id="footer-msg">
		<textarea class="text-field" ng-model="mensagem" hot-enter="enviaMensagem(mensagem, contatoAtivo.login);mensagem = null"></textarea> 
		<button class="btn btn-primary btn-send" ng-click="enviaMensagem(mensagem, contatoAtivo.login);mensagem = null" style="float:right">Enviar</button>
	</footer>

	<script>
		var largura = $(document).width();
		var altura  = $(window).height();
		
		$("#footer-msg").css('width', largura - 300);
		$(".cht-content").css('height', altura - 70 - 130);
	</script>
</section>



<section class="cht-container" ng-if="!contatoAtivo">
	<div style="position:fixed; left: 50%; top:50%;" >
	<img alt="" src="/hotchat/images/hotchat.jpeg">
	</div>
</section>