<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
	
	<body>
		<div layout:fragment="content">
			<div class="table-responsive">
				<table class="table table-condensed table-bordered table-striped" id="tabela-usuarios">
					<thead>
						<tr>
							<th>
							</th>
							<th>
								Nome
							</th>
							<th>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="it : ${contatos}">
							<td style="width: 2%">
								<span th:switch="${it.online}">
									<i th:case="true" class="fa fa-circle" aria-hidden="true" title="Online" style="color:green"></i>
									<i th:case="false" class="fa fa-circle" aria-hidden="true" title="Offline" style="color:gray"></i>
								</span>
							</td>
							<td th:text="${it.login}">
								usuario
							</td>
							<td style="width: 10%">
								<button type="button" class="btn btn-default btn-xs botao-enviar-msg" 
										data-toggle="modal" data-target="#modal-enviar-mensagem"
										th:attr="data-id=${it.id}, data-nome=${it.login}"
										data-id="1"
										title="Enviar mensagem...">
									<i class="fa fa-pencil" aria-hidden="true" style="color:rgb(61, 89, 212)"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
				
				<div class="modal fade" id="modal-enviar-mensagem" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title">Enviar Mensagem para <span id="nome-destinatario">usuario</span></h4>
							</div>
							<div class="modal-body">
								<div class="form-group">
									<input type="hidden" id="id-destinatario"/>
								    <textarea class="form-control" id="mensagem-conteudo" name="mensagem-conteudo" ></textarea>
							    </div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
								<button type="button" class="btn btn-primary" onclick="enviarMensagem();">Enviar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="table-responsive">
				<table class="table table-condensed table-bordered table-striped" id="tabela-mensagens">
					<thead>
						<tr>
							<th>
								Data de Envio
							</th>
							<th>
								Emissor
							</th>
							<th>
								Mensagem
							</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="it : ${mensagens}">
							<td th:text="${it.dataEnvio}">
								10/10/2000
							</td>
							<td th:text="${it.emissor.login}">
								usuario emissor
							</td>
							<td th:text="${it.conteudo}">
								texto da mensagem
							</td>							
						</tr>
					</tbody>
				</table>
			</div>
			
			<script type="text/javascript" th:inline="javascript">
				$(document).ready(function() {
					conectar();
				}); 
			
				$(document).on("click", ".botao-enviar-msg", function () {
				     $(".modal-body #id-destinatario").val($(this).data('id'));
				     $(".modal-header #nome-destinatario").text($(this).data('nome'));
				     $(".modal-body #mensagem-conteudo").val('');
				});
				
				function enviarMensagem() {
					var url = /*[[@{/enviarMensagem}]]*/ '';
					$.ajax({
						type:'POST',
						url: url,
						data: {
							'destinatario.id': $(".modal-body #id-destinatario").val(),
							'conteudo': $(".modal-body #mensagem-conteudo").val(),
						},
						success: function(data, textStatus) {
							$.gritter.add({
								  title: "Sucesso",
								  text: "Mensagem enviada com sucesso.",
								  sticky: false
								});		
						},
						error: function(request, status, error) {
							alert('Erro no servidor: ' + status);
						}
					});
					
					$('#modal-enviar-mensagem').modal('hide');
				}
			</script>
		</div>		
	</body>
</html>