<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
	<title tiles:fragment="title">HotChat</title>
	  
	<link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" href="http://cdn.jsdelivr.net/webjars/font-awesome/4.7.0/css/font-awesome.min.css"></link>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
	<link rel="stylesheet" th:href="@{/css/login.css}" href="static/css/login.css"></link>
	
	<script type="text/javascript" th:src="@{/webjars/jquery/2.2.4/jquery.min.js}" src="http://cdn.jsdelivr.net/webjars/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}" src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</head>
  
<body>
	<div class="container">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" style="width: 150px; height: 150px;" th:src="@{/images/logo-login.png}" />
            <p id="profile-name" class="profile-name-card"></p>
            
            <div th:if="${param.error}" class="alert alert-danger">    
                Usuário e senha inválidos.
			</div>
			<div th:if="${param.logout}" class="alert alert-success"> 
                Você saiu com sucesso.
            </div>
            <div th:if="${mensagem}" class="alert alert-success"> 
				<span th:text="${mensagem}"></span>
            </div>	
            
            <form name="f" th:action="@{/login}" method="post" class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="text" id="username" name="username" class="form-control" placeholder="Login" required="required"/>
                <input type="password" id="password" name="password" class="form-control" placeholder="Senha" required="required"/>
                
                <button class="btn-signin" type="submit">Entrar</button>
            </form><!-- /form -->
            <a href="/cadastro.html" th:href="@{/cadastro/novo}" class="forgot-password">
                Cadastre-se aqui!!
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->
</body>
  
</html>